/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply dark:bg-black transition-colors duration-300;
    @apply bg-opacity-75;
    @apply w-full h-full relative;
    @apply overflow-hidden;
    font-family: 'Inter', sans-serif;
  }

  * {
    @apply outline-none;
  }

  ::-webkit-scrollbar {
    @apply bg-neutral-200 dark:bg-neutral-900;
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-300 dark:bg-neutral-800;
  }

  .page {
    @apply h-full w-full;
    @apply p-2;
    @apply overflow-hidden;
  }

  .input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .form-tick {
    @apply appearance-none transition-all;
    @apply w-5 h-5 rounded-md;
    @apply border dark:border-neutral-800 checked:bg-green-500;
    @apply focus-outline;
  }

  .setting {
    @apply rounded-lg border-2 border-neutral-100 dark:border-neutral-900;
    @apply p-4;
    @apply gap-2;
    @apply flex flex-grow flex-col justify-evenly basis-0;
    @apply transition-all;
  }

  .listbox {
    @apply relative;
    @apply overflow-y-auto overflow-x-hidden;
    @apply flex-1 rounded;
    @apply px-2 py-1;
  }

  .listbox-item {
    @apply flex w-full items-center p-1 rounded;
    @apply hover:bg-neutral-200 dark:hover:bg-neutral-800;
    @apply focus-outline;
  }
}

@layer utilities {
  .bg-theme {
    @apply dark:bg-neutral-900;
  }

  .window-control-btn {
    @apply h-full flex items-center justify-center;
    width: 48px;

    @apply cursor-default;
    @apply dark:hover:bg-white hover:bg-black hover:bg-opacity-10 dark:hover:bg-opacity-10;
  }

  .window-control-btn svg {
    width: 10px;
    height: 10px;
    @apply fill-black dark:fill-white;
  }

  .focus-outline {
    @apply focus:outline-2 focus:outline-green-700 focus:dark:outline-green-900;
    @apply outline-offset-0;
  }
}
