/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply dark:bg-black;
    @apply bg-opacity-75;
    @apply w-full h-full;
    @apply overflow-hidden;
    font-family: 'Inter', sans-serif;
  }

  * {
    @apply outline-none;
  }

  ::-webkit-scrollbar {
    @apply border-2 border-transparent border-solid;
  }

  ::-webkit-scrollbar-thumb {
    @apply shadow-neutral-200 dark:shadow-neutral-700 shadow-scroll;
    @apply border-4 border-transparent border-solid rounded-full;
  }

  .page {
    @apply h-full w-full;
    @apply p-2;
    @apply overflow-hidden;
  }

  .form-button {
    @apply max-w-lg w-full;
    @apply py-2 px-2 select-none;
    @apply flex items-center justify-center rounded;
    @apply transition-all;
    @apply bg-green-600 text-white;
    @apply hover:bg-neutral-800;
    @apply disabled:opacity-25 disabled:bg-neutral-800;
  }

  .input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .form-tick {
    @apply appearance-none transition-all;
    @apply w-5 h-5 rounded-md;
    @apply border-2 dark:border-neutral-800 checked:bg-green-500;
  }

  .setting {
    @apply rounded-lg border-2 border-neutral-100 dark:border-neutral-900;
    @apply p-4;
    @apply gap-2;
    @apply flex flex-grow flex-col justify-evenly basis-0;
    @apply transition-all;
  }

  .listbox {
    @apply overflow-y-auto;
    @apply flex-1 rounded;
  }

  .listbox-item {
    @apply flex items-center p-1 rounded;
    @apply hover:bg-neutral-200 dark:hover:bg-neutral-800;
  }

  .flag {
    @apply contrast-75;
    @apply rounded;
  }

  .setting-description {
    @apply text-neutral-500;
  }
}

@layer utilities {
  .bg-theme-sec {
    @apply bg-neutral-100 dark:bg-neutral-900;
  }

  .window-control-btn {
    @apply h-full flex items-center justify-center;
    width: 48px;

    @apply cursor-default;
    @apply dark:hover:bg-white hover:bg-black hover:bg-opacity-10 dark:hover:bg-opacity-10;
  }

  .window-control-btn svg {
    width: 10px;
    height: 10px;
    @apply fill-black dark:fill-white;
  }
}
